/* Global */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

input,
button {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/* Global */

/* Form */

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 36px;
}

.search-input {
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  width: 272px;
  height: 40px;
}

.search-button {
  width: 91px;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  background-color: #4e75ff;
  cursor: pointer;
  transition: 0.4s;
}

.search-button:hover {
  opacity: 0.8;
}

/* Form */

/* Loader */

.loader {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #333;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Loader */

/* Gallery */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 20px;
  padding: 20px 32px;
}

.photo-card {
  border-radius: 4px;
  border: 1px solid #808080;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.photo-card img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.photo-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.info {
  display: flex;
  justify-content: center;
  gap: 28px;
  padding: 4px;
}

.info div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.info div:first-child {
  font-weight: bold;
}

/* Gallery */

/* Paggination */

.load-more {
  display: block;
  margin: 0 auto 44px auto;
  width: 125px;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  background-color: #4e75ff;
  cursor: pointer;
  transition: 0.4s;
}

/* Paggination */

.hidden {
  display: none;
}